@{
    ViewData["Title"] = "Edition d'un personne";
}
@using Isen.Dotnet.Library.Model;
@using Isen.Dotnet.Library.Context;
@model Person;
@inject ApplicationDbContext _context;

<h2>Création ou édition <small>d'une personne</small></h2>
<form class="form-group" asp-action="Edit">

    <h3>Identité <small>de la personne</small></h3>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="LastName">Nom de famille</label>
                <input
                    id="LastName"
                    type="text"
                    class="form-control"
                    placeholder="Nom de famille"
                    asp-for="LastName"
                    value="@Model?.LastName" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="FirstName">Prénom</label>
                <input
                    id="FirstName"
                    type="text"
                    class="form-control"
                    placeholder="Prénom"
                    asp-for="FirstName"
                    value="@Model?.FirstName" />
            </div>
        </div>
    </div>

    <h3>Coordonnées <small>de la personne</small></h3>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="LastName">Email</label>
                <input
                    id="EmailAddress"
                    type="text"
                    class="form-control"
                    placeholder="Email"
                    asp-for="EmailAddress"
                    value="@Model?.EmailAddress" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="FirstName">Numéro de téléphone</label>
                <input
                    id="PhoneNumber"
                    type="text"
                    class="form-control"
                    placeholder="Numéro de téléphone"
                    asp-for="PhoneNumber"
                    value="@Model?.PhoneNumber" />
            </div>
        </div>
    </div>

    <h3>Service <small>de la personne</small></h3>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="Service">Service</label>
                @Html.DropDownListFor(
                    // Quel est le champ du modèle que l'on 
                    // met à jour avec cette liste ?
                    p => p.ServiceId,
                    // Liste des éléments
                    new SelectList(
                        // La liste
                        _context.Services,
                        // Le champ d'id
                        "Id",
                        // Le champ de libellé
                        "Name"
                    ),
                    // Item par défaut
                    "Sélectionnez un service...",
                    // Classe CSS
                    new { @class = "form-control" }
                )
            </div>
        </div>
        @* <div class="col-6">
            <div class="form-group">
                <label for="ResidenceCity">Ville de résidence</label>
                @Html.DropDownListFor(
                    // Quel est le champ du modèle que l'on 
                    // met à jour avec cette liste ?
                    p => p.ResidenceCityId,
                    // Liste des éléments
                    new SelectList(
                        // La liste
                        _context.CityCollection,
                        // Le champ d'id
                        "Id",
                        // Le champ de libellé
                        "Name"
                    ),
                    // Item par défaut
                    "Sélectionnez un ville...",
                    // Classe CSS
                    new { @class = "form-control" }
                )
            </div>
        </div> *@
    </div>

    @{
        var dateTimeString = "";
        if (Model?.DateOfBirth != null) 
            dateTimeString = Model.DateOfBirth.Value.ToString("dd/MM/yyyy");
    }

    <div class="row">
        <div class="col-12">
            <div class="form-group">
                <label for="DateOfBirth">Date de naissance</label>
                <input
                    id="DateOfBirth"
                    type="text"
                    class="form-control"
                    placeholder="jj/mm/aaaa"
                    asp-for="DateOfBirth"
                    value="@dateTimeString" />
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <button type="submit" class="btn btn-primary">Valider</button>
                <a class="btn btn-secondary" asp-action="Index">Annuler</a>
            </div>
        </div>
    </div>

</form>        
