@{
    ViewData["Title"] = "Edition d'un service";
}
@using Isen.Dotnet.Library.Model;
@model Service;

<h2>Création ou édition <small>d'un service</small></h2>
<form class="form-group" asp-action="Edit">

    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="Name">Nom</label>
                <input
                    id="Name"
                    type="text"
                    class="form-control"
                    placeholder="Nom du service"
                    asp-for="Name"
                    value="@Model?.Name" />
            </div>
        </div>
        @* <div class="col-6">
            <div class="form-group">
                <label for="Zip">Code postal</label>
                <input
                    id="Zip"
                    type="text"
                    class="form-control"
                    placeholder="Code postal"
                    asp-for="Zip"
                    value="@Model?.Zip" />
            </div> *@
        </div>
    </div>

    @* <h3>Coordonnées <small>de la ville</small></h3>
    <div class="row">
        <div class="col-6">
            <div class="form-group">
                <label for="Lat">Latitude</label>
                <input
                    id="Lat"
                    type="text"
                    class="form-control"
                    placeholder="0,00000"
                    asp-for="Lat"
                    value="@Model?.Lat" />
            </div>
        </div>
        <div class="col-6">
            <div class="form-group">
                <label for="Lon">Longitude</label>
                <input
                    id="Lon"
                    type="text"
                    class="form-control"
                    placeholder="0,000000"
                    asp-for="Lon"
                    value="@Model?.Lon" />
            </div>
        </div>
    </div> *@

    <div class="row">
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Valider</button>
            <a class="btn btn-secondary" asp-action="Index">Annuler</a>
        </div>
    </div>

</form>        
